.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_col {
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: auto;
}

.text-center {
    text-align: center;
}

.about_title {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.about_paras {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.16px;
    line-height: 28px;
    font-family: sans-serif;
    color: black;
}