.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_col {
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: auto;
}

.text-center {
    text-align: center;
}

.about_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.about_paras {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.16px;
    line-height: 28px;
    color: black;
}

.first_container {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.right_profile_container {
    float: left;
    width: 360px;
}

.profile_image {
    width: 100%;
    height: auto;
}

.left_container {
    float: left;
    width: 55%;
    padding: 0 30px;
}

.animate_span {
    font-family: 'Montserrat';
    background: white;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1%;
    color: black;
    background-image: linear-gradient( 120deg, #ff0410, #f27c7c);
    background-repeat: no-repeat;
    background-size: 100% .3em;
    background-position: 0 88%;
    transition: background-size .25s ease-in;
}

.animate_span:hover {
    background-size: 100% 88%!important;
    color: white!important;
}