@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card_body {
    position: 'relative';
    height: '360px';
    width: '360px';
    flex-direction: 'row';
    flex: 9;
    background: 'url(./BaskinRobbins.webp)';
    background-size: 'cover';
    transition: '0.4s ease-in';
}

.onhover:hover {
    filter: drop-shadow(0px 2px 2px black);
}

.onView:hover {
    filter: opacity(0.2);
    transform: scale(1.2);
}

div.onView:hover+div.boxes {
    opacity: 1
}

.boxes {
    opacity: 0
}

.hideGallery {
    display: none;
}

.back_class {
    font-size: 38px;
    font-family: Impact;
    color: black;
    letter-spacing: 2px;
    float: left;
    padding: 3px 0;
}

.back_arrow:hover+.back_class {
    opacity: 1!important;
}

.gallery_container {
    padding: 20px;
}

.gallery_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    font-weight: 600;
}

.gallery_date {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1f1d1db0;
}

.gallery_desc {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 25px;
}