:root {
    --primary: #1e90ff;
    --dark: #ffffff;
    --fontFamily: #ffffff;
    --fontColor: #000;
    --bgColor: #ffffff;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    height: 10%;
    padding: 3% 14%;
}

.nav-title {
    flex: 6;
    text-decoration: none;
    color: var(--fontColor);
    font-size: 30px;
    font-weight: 700;
}

.nav-link {
    flex: 1;
    min-width: 100px;
    color: var(--fontColor);
    flex-shrink: 1;
    text-decoration: none;
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #c93d48;
}