:root {
    --primary: #1e90ff;
    --dark: #ffffff;
    --fontFamily: #ffffff;
    --fontColor: #000;
    --bgColor: #ffffff;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    height: 10%;
    padding: 3% 14%;
    flex-wrap: wrap;
}

.navigationDrawer {
    position: fixed;
    top: 1px;
    height: 56vh;
    background: red;
    width: 100%;
    z-index: 2;
}

.navigationDrawer>div {
    text-align: center;
    line-height: 3;
}

.nav-title {
    flex: 6;
    text-decoration: none;
    color: red;
    font-size: 45px;
    text-transform: uppercase;
    font-family: impact;
    letter-spacing: 1px;
    min-width: 396px;
    line-height: 2;
}

.color-white {
    color: white!important;
}

.nav-link {
    flex: 1;
    width: 120px;
    margin: 0px 0px 0px 25px;
    color: var(--fontColor);
    flex-shrink: 1;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #c93d48;
}


/* 
@media screen and (max-width: 600px) {
    .nav-header {
        text-align: center;
    }
    .nav-title {
        flex: auto;
    }
    .nav-link {
        min-width: 200px;
    }
} */